/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
    background-color: #D4A76A;
}
header {
    background-color: #FFDBAA;
}
nav > ul {
    color: white;
    list-style-type: none;
}
nav > ul > li {
    background-color: #805215;
    border-color: black;
    border-style: solid;
    border-width: 1;
    padding: 10px;
    text-align: center;
}
nav > ul > li > a {
    color: white;
    text-decoration: none;
}
button {
    background-color: #805215;
    color: white;
    border-color: black;
    border-style: solid;
    border-width: 1;
    padding: 10px;
    margin: 10px;
    width: 90%;;
    
    text-align: center;
}
h1 {
    color: #553100;
}
h3 {
    text-align: center;
}
section {
    background-color: white;
    width: 33%;

}
